@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import'~bootstrap/dist/css/bootstrap.css';

.ms-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
}

a {
    text-decoration: none;
}

